/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.col {
  background-color: #F0F8FF;
  border-color: #ddd;
  /*#FAEBD7;*/
  margin: 10px;
  text-align: center;
  color: #4a87ee;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  /*#995533;*/
}

#blurb,
#facebook,
#username,
.search,
.userimage {
  text-align: center;
}

#username {
  margin-bottom: 5px;
}

.tags,
.likes,
.lunchbuddy {
  border-bottom: solid grey;
}

.lunchbuddy {
  margin-bottom: 5px;
}

.userimage {
  margin-top: 15px;
}

#fbbutton {
  border-radius: 10px;
  background-color: #3b5998;
  color: white;
}

#lunchtitle {
  font-size: 80px;
}

.tags,
.likes {
  display: inline-block;
  font-size: 15px;
  padding: 8px;
}

.tags {
  margin: 5px;
}

.likes {
  font-size: 12px;
  padding: 5px;
}

.facebook {
  position: relative;
  margin-right: 3px;
  top: 7px;
}

.liketext {
  position: relative;
  bottom: 7px;
  margin-left: 12px;
}

.fbdivider {
  padding: 5px;
}

.pressed {
  background-color:grey;
  color:white;
  border-bottom:white;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
/*
.toggle(
  -webkit-transition: -webkit-transition: linear 0.1s;
  -moz-transition: linear 0.1s;
  -ms-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  transition: linear 0.1s;
}
 
.toggle.ng-enter{
  opacity: 0;
}
 
.toggle.ng-enter-active{
  opacity: 1;
}
 
.toggle.ng-leave{
  opacity: 1;
}
 
.toggle.ng-leave-active{
  opacity: 0;
} */