/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.username, .location{
	text-align: right;
}

.col {
	background-color: #F0F8FF;
	/*#FAEBD7;*/
	margin: 10px;
	text-align: center;
	color: #4a87ee;
	border-radius: 10px;
	/*#995533;*/
}

#blurb, #facebook {
	text-align: center;
}

#button, #fbbutton {
	border-radius: 20px;
}

#lunchtitle {
	font-size: 80px;
}

