<ion-view> <!-- title="Browse"> -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	  	<img ng-src="{{photo_url}}">
    <div class="row">
    	<h2 class="username">{{firstname}} {{lastname}}</h2>
		</div>
		<div class="row">
			<h4 class="location">{{city}}</h4>
		</div>
			<div class="item item-divider">
   			 Wants to talk about
  		</div>
  		<div class="row">
				<ion-item class="col"  ng-repeat="tag in tags">
   				{{tag}}
      	</ion-item>	
      </div>
			<div class="item item-divider"> 
        <div class="icon ion-social-facebook">  likes</div>
      </div>  
  		<div class="row">
				<ion-item class="col" ng-repeat="like in likes">
   				{{like}}
      	</ion-item>
      </div>
 		<div class="button-bar">
		  <a class="button assertive icon ion-close-round" ng-click="reject()"></a>
		  <a class="button balanced icon ion-checkmark-round" ng-click="approve()"></a>
		</div>
  </ion-content>
</ion-view>
	