<ion-view>
<ion-content class="has-header">
			<div class="sliderbox">
    		<ion-slide-box delegate-handle="loginSlider" show-pager="true" pager-click="updateSlide(index)">
				  <ion-slide>
				    <div class="blurb">
				    	<h2>Meet someone over</h2>
				    	<h1 class="lunchtitle">Lunch</h1>
				    </div>
				  </ion-slide>
				  <ion-slide>
				    <div class="demoblurb">
				    	<h4>Tell us what you'd like to talk about today</h4>
				    </div>
				    <br>
				    <div class="demoimg">
				    	<img src="images/demo/profile.png">
				    </div>
				  </ion-slide>
				  <ion-slide>
				    <div class="demoblurb">
				    	<h4>Pick an interesting lunch buddy</h4>
				    	<h4>Browse through profiles with similar interests to yourself</h4>
				    </div>
				   	<br>
				    <div class="demoimg">
				    	<img src="images/demo/browse.png">
				    </div>
				  </ion-slide>
				  	<ion-slide>
					    <div class="demoblurb">
					    	<h4>View your match!</h4>
					    </div>
					    <br>
					    <div class="demoimg">
					    	<img src="images/demo/match.png">
					    </div>
				  </ion-slide>
				  <ion-slide>
				    <div class="demoblurb">
				    	<h4>Start a conversation, and organize lunch!</h4>
				    </div>
				    <br>
				    <div class="demoimg">
				    	<img src="images/demo/chat.png">
				    </div>
				  </ion-slide>
				</ion-slide-box>
				</div>
				<div class="facebook"><a ng-click="login()" class="fbbutton button button-block button-positive"><img class="facebook" src="images/facebook/FB-f-Logo__white_29.png"> Login with Facebook</a></div>
  </ion-content>
</ion-view>
