<ion-view>
<ion-content class="has-header">
    		<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)"> <!-- ng-click="nextSlide($index)"  -->
				  <ion-slide>
				    <div id="blurb">
				    	<h2>Meet someone over</h2>
				    	<h1 id="lunchtitle">Lunch</h1>
				    </div>
				  </ion-slide>
				  <ion-slide>
				    <h1>Lunch</h1>
				    	<h3>This is what it can do, for you</h3>
				    	<h3>Image of app operation here</h3>
				    	<h3>This is a sliding page</h3>
				  </ion-slide>
				  <ion-slide>
				    <div><h1>Even more blurb</h1></div>
				  </ion-slide>
				</ion-slide-box>
				<div id="facebook"><a ng-click="login()" id="fbbutton" class="button"><img class="facebook" src="images/facebook/FB-f-Logo__white_29.png"> Login with Facebook</a></div>
  </ion-content>
</ion-view>
